<div class="container mt-lg-5">
  <%= turbo_frame_tag "main-frame", data: { turbo_action: "advance" } do %>
    <div id="flash" class="flash">
      <%= render partial: "shared/flash" %>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-4 order-md-1 order-lg-2 text-center">
        <%= render partial: "count", locals: { pagy: @pagy } %>
      </div>
      <div class="col-md-12 col-lg-8 order-md-2 order-lg-1">
        <%= render partial: "notes_table", locals: { notes: @notes } %>
        <div class="d-flex justify-content-center pagy-container mt-lg-5">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
  <% end %>
</div>
