<!DOCTYPE html>
<html>
<head>
  <title>MyNotes</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 m-0">
    <div class="container d-flex justify-content-between align-items-center py-0">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("logo-img.png", alt: "Logo", height: 80) %>
      <% end %>

      <ul class="navbar-nav align-items-center py-0">
        <% if user_signed_in? %>
          <li class="nav-item">
          <span class="navbar-text me-3">
            <%= current_user.full_name %>
          </span>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<div class="container mt-5">
  <%= yield %>
</div>
</body>
</html>
